      /* start global rules */
        *                 { 
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;}

html{
    scroll-behavior: smooth;
}   
body{
font-family: 'Open Sans', sans-serif;
/* font-family: 'Work Sans', sans-serif; */
/* background-color: black; */
} 

ul{
list-style: none;
}   

/* end global rules */

/*start variables */
:root{
            --main-color: #19c8fa;
            --transperent-color: rgb(15 116 143 / 70%);
            --section-padding: 100px;
}
/*  end variables */
/*start continar*/
.container{
width: 1170px;
margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;


} 
/*@media*/
/*small*/
@media (min-width: 768px){
.container{
    width: 750px;

}
}
/*medium*/
@media (min-width: 992px){
.container{
    width: 960px;

}
}

/*large*/
@media (min-width: 1200px){
.container{
    width: 1170px;

}
}

/*end continar*/
/* start header */
.amro{
position: absolute;
left: 0px;
width: 100%;
z-index: 2;
}

.amro .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
    
}
.amro .container::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #a2a2a2;
    bottom: 0px;
    left: 15px;
    width: calc(100% - 30px);



}
.amro nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.amro nav ul{
    display: flex;
}
.amro nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
.active{
    color: var(--main-color);
}
.amro nav ul li a:active{
    color: var(--main-color);
}
.amro nav ul li a:hover{
    color: var(--main-color);
    
}
.amro .form{
    width: 50px;
    height: 40px;
    position: relative;
    margin-left: 30px;
    border-left: 2px solid white;

}
.amro .form i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transition: translateY(-50%);
    right: 0; 
}
.amro nav .toggle-menu{
    color: white;
    font-size: 30px;
}
@media (min-width: 768px) {
    .amro nav .toggle-menu{
        display: none;

    }
}
@media (max-width: 768px) {
    .amro nav ul{
        display: none;

    } 
}

.amro nav  .toggle-menu:hover +ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);

}

/* end  header */

/*start landing */
.landing{
min-height: 100vh;
background-color: #1f2021;
background-size: cover;
background-image: url(./k.jpg);
position: relative;
}
.landing .overlay{
position: absolute;
width: 100%;
height: 100%;
top: o;
left: 0;
background-color: rgb(0 0 0 / 60%);
}

.landing .text{
position: absolute;
top: 50%;
width: 50%;
left: 0;
transition: translateY(-50%);
background-color: var(--transperent-color);
color: white;
display: flex;
justify-content: flex-end;
padding: 50px;

}
@media (max-width: 768px){
.landing .text{
    width: 100%;

} 
.landing .text .content  {
    max-width: 100%;
}
}
.landing .text .content  {
max-width: 500px;
}
.landing .text .content h2{
font-size: 30px;
font-weight: normal;
line-height: 1.5;
margin-bottom: 20px;

}
.landing .text .content p{
font-size: 14px;
line-height: 2;
}
.change{
transition: translateY(-50%);
    color:#ddd;
    /* background-color: #19c8fa; */
    position: absolute;
    top: 25%;  
    left: 5%; 
}
.change-background{
        transition: translateY(-50%);
    color:#ddd;
    /* background-color: #19c8fa; */
    position: absolute;
    top: 60%;  
    left: 95%; 
    } 
    .bullets{
        position: absolute;
        left: 48%;
        transition: translateY(-50%);
        bottom: 30px;
        display: flex;
        color: #19c8fa;
        
    }
    .bullets li{
        width: 20px;
        height: 20px;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: 10px;
        text-align: center;
    } 

.bullets li:active{
    border-color: var(--main-color);
    border-color: var(--main-color);

}
@media (max-width: 768px){
.change-background{
    display: none;
}
}
@media (max-width: 768px){
.change{
    display: none;
}
}

/*end landing */


/* start services */
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;



{

/* }.services{
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
} */

.services .srv-box{
display: grid;
padding-left: 30px;



}

}  
/* @media (max-width: 767px){
.services .srv-box{
display: flex;
flex-direction: column;
text-align: center;
margin-bottom: 40px;

}    */
.services .main{
color: var(--main-color);


}

.services .srv-box h3{
color: var(--main-color); 
margin-bottom: 50px;
margin-left: 80px; 
margin-top: -35px;

}
.services .srv-box p{
margin-top: -15px;
color: #777;
line-height: 2;
margin-bottom: 50px;
}

/* end services */

/* start design */
.design{
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
height: 600px;
position: relative;
background-size: cover;
display: flex;
align-items: center;
background-image: url(../image/download.jpg);
overflow: hidden;


}
.design::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
top: o;
left: 0;
background-color: rgb(0 0 0 / 60%);
}
.design .image{
text-align: center;
}
.design .image img{
position: relative;
bottom: -100px;
}
.design .image,
.design .text{

position: relative;
z-index: 2;
flex: 1;
}

.design .text{
color: white;
padding: 50px;
background-color: var(--transperent-color);
}
.design .text h2{
font-weight: normal;
text-transform: uppercase;
margin-bottom: 40px;

}
.design .text ul li{
padding: 15px 0 ;
}

.design .text ul li::before{
font-family: "font Awesome 5 free";
content: "\f0dd";
font-weight: 900px;
margin-right: 20PX;
position: relative;
TOP:1PX;


}
@media (max-width:767px){
.design .image{
display: none;
width: 700px;
height: 800px;
}
}


/* end  design */\\\\\\\\\
/* start portofolio */


.portofolio{
padding-top: 100px;
padding-bottom: 100px;

}
.portofolio .shuffle{
display: flex;
justify-content: center;
}
.portofolio .shuffle li{
padding: 10px;
font-size: 30px;
}
.portofolio .shuffle li:active{
background-color: var(--main-color);
color: white;
}
.portofolio .imgs-container{
display: flex;
flex-wrap: wrap;
margin-top: 60px;


}
.portofolio .imgs-container {
overflow: hidden;
position: relative;
flex-basis: 25%;


}

.portofolio .imgs-container {
display: grid;
grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 15px;

}
.portofolio .imgs-container h4,
.portofolio .imgs-container p{
color:black;
font-weight: bold;
font-size: 20px;
/* }
.portofolio .imgs-container h4:hover{
position: absolute;
left: 0px;
padding: 20px;
background-color: white;
width: 100%;
bottom: -100%;
transition:  0.35;

}
.portofolio .imgs-container p:hover{
position: absolute;
left: 0px;
padding: 20px;
background-color: white;
width: 100%;
bottom: -100%;
transition:  0.35; */

}
@media(min-width: 768px){
.portofolio .imgs-container img{
flex-basis: 50%;
}
}
@media(min-width: 1000px){
.portofolio .imgs-container img{
flex-basis: 20%;
}
}

.portofolio .imgs-container  h4{
font-weight: normal;
margin-bottom: 10px;
}
.portofolio .more{
    background-color: var(--main-color);
    color: #eee;
    display: block;
    width: fit-content;   
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 510px;
    font-size: 30px


}                    

    /* end porotofolio  */

    /* start vidio */
    .video{
        position: relative;
        margin-top: 50px;

    }
    .video::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: o;
        left: 0;
        background-color: rgb(0 0 0 / 40%);

    }
    .video video{
        width: 100%;
    }
    .video .text{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 50px;
        background-color: var(--transperent-color);
        color: white;
        text-align: center;

    }
    .video h2{
        margin: 0 0 30px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 30px;

    }
    .video p{
        margin-bottom: 30px;
        font-size: 30px;
    }
    .video button{
        background-color: #1f2021;
        color: white;
        padding: 10px 20px;
        border: none;
        text-transform: uppercase;
        font-size: 25px;

    }
    /* end vidio */
        /* start About */
    .About{
        overflow: hidden;
        text-align: center;
    }
    .About img{
        position: relative;
        margin-top: -50px;
        max-width: 100%;


    }
    
    


    /* end About */

    /* start states */
    .states{
        padding-top: var(--section-padding);
        padding-bottom:  var(--section-padding);
        text-align: center;
        background-size: cover;
        background-image: url(../image/sh\ 9.jpg);
    }
    .states::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    top: o;
    left: 0;
    background-color: rgb(0 0 0 / 70%);}
    
    .states .container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .states .container .box{
        color: white;
        padding: 50px;
        background-color: var(--transperent-color);
    }
    @media(max-width: 767px){
        .states .container .box{
            flex-basis: 100%;
        }
    } 

        @media(min-width: 767px){
        .states .container .box{
            flex-basis: 50%;
        }
    } 
    .states .container .box .icon{
        width: 60px;
        height: 60px;
        display: flex;
        background-color: black;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto 30px;
        justify-content: center;




    }

    .states .container .box .namber{
        font-size: 50px;
        font-weight: bold;
        margin: 0 0 20px;
    }
    .states .container .box p{
        font-size: 20px;
    }
    /* end states */
    /* start our-skilles */
    .our-skilles{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        

    }
    .our-skilles .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    @media(min-width: 992px){
        .our-skilles .container >div{
            flex-basis: 45%;
        }
    }
    .our-skilles .container >div>h3{
        margin: 0 0 30px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;

    }
    .our-skilles .container >div>p{
        color: #777;
        line-height: 2;
        text-align: center;
        margin-bottom: 60px;

    }
    .our-skilles .testmoniles .content{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    
    }
    .our-skilles .testmoniles  p{
        line-height: 1.8;
        margin-bottom: 10px;
        color: #777;
        text-align: right;
        width: 400px;
    }
    .our-skilles .testmoniles  p:last-of-type{
        
        text-align: center;
    }
    .our-skilles .content p:last-of-type{
        font-size: 25px;
        color: #19c8fa;
        margin-top: 20px;
        margin-left: 200px;
    }
    .our-skilles .content p:first-child{
        line-height: 1.8;
    }

        .content img{
        
        width: 100px;
        height: 100px;
        margin-right: 50px;
        border-radius: 50%;
    }
    @media(max-width: 767px){
        .our-skilles .testmoniles .content{
            flex-direction: column;
            text-align: center;

        }
    
    .our-skilles .testmoniles .content img{
        margin: 0 auto 20px;

        
    }
}
.our-skilles .testmoniles hr{
    height: 5px;
    width: 70%;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: aqua;
}
    .bulletss{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 130px;
    transition: translateY(-50%); 

    
}
.bulletss li{
    width: 20px;
    height: 20px;
    border: 2px solid #19c8fa;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    
} 
.bulletss li:hover{
    color: var(--main-color);
}

    .bulletss li:active{
    border-color: var(--main-color);
    border-color: var(--main-color);

}


.progress h4:last-child{
    margin-top: 150px;
}
.our-skilles    .skilles .progress{
margin-bottom: 40px;

}


.our-skilles    .skilles .progress h4{
margin-bottom: 15px;
font-weight: normal;
text-transform: uppercase;

}

.our-skilles    .skilles .progress .prog{
background-color: #dedadc;
height: 30px;

}
.our-skilles    .skilles .progress .prog span{
display: block;
background-color: var(--main-color);
height: 100%;
position: relative;

}
.our-skilles    .skilles .progress .prog span::before{
content: attr(data-progress);
position: absolute;
background-color: black;
color: #fff;
top: -30px;
right: -19px;
padding: 4px 0;
width: 40px;
text-align: center;
border-radius: 4px;

}
.our-skilles    .skilles .progress .prog span::after{
content: "";
position: absolute;
border-style: solid;
border-width: 8px;
border-color: black transparent transparent;
right: 8px;


}



    /* end  our-skilles */

    /* start quote  */
    .quote{
        padding-bottom: var(--section-padding);
        padding-top: var(--section-padding);
        
        background-image: url(../image/sh\ 9.jpg);
        background-size: cover;
        position: relative;
        text-align: center;
        color: white;

        
    } 
    .quote::before{

        content: "";
        position: absolute;
        width: 100%;
        height: 60%;
        top: o;
        left: 0;
        background-color: rgb(0 0 0 / 80%);}
        .quote .container{
            position: relative;
        }
        .quote q{
            font-size: 30px;
            margin-bottom: 20px;
            display: block;
        }
        .quote span{
            font-size: 40px;
            font-weight: bold;
            color: antiquewhite;
        }
    /* end quote  */

    /* start pricing */
    .pricing .plans{
        display: grid;
        grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;
    }
    .pricing .plans{
        display: inline-block;
        padding: 20px;
        width: 280px;
    }
    .pricing .plans .plan {
        background-color: #fcfcfc;
        text-align: center;

    }


    .pricing .plans .plan .head {
            padding: 40px 20px;
            border-top: 1px  solid var(--main-color);
            border-bottom: 1px  solid var(--main-color);
            

    }
    .pricing .plans .plan .head h3{
            font-weight: normal;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 30px;
            color: black;

    }

    .pricing .plans .plan .head span{
        font-size: 40px;
        font-weight: bold;
        position: relative;
        

    }

    
    .pricing .plans .plan .head span::before{
            content: "$";
            position: relative;
            font-size: 20px;
            top: -30px;
            font-weight: normal;
            margin-right: 25px;


    }
    
    .pricing .plans .plan .head span::after{
        content: "/m";
        font-size: 20px;
        position: relative;
        right: -20px;
        top: 30px;

    }
    .pricing .plans .plan ul{
        border-bottom: 1px solid var(--main-color);
    }
    .pricing .plans .plan ul li{
        padding: 20px;
        position: relative;
    }

    .pricing .plans .plan ul li:not(:last-child)::after{
        content: "";
        width: 140px;
        height: 1px;
        background-color: var(--main-color);
        position: absolute;
        left: 50px;
        transform: translateY(-50%);
        bottom: 0px;
    }
    .pricing .plans .plan .foot a{
        display: block;
        text-decoration: none;
        padding: 20px 20px;
        border: 1px solid var(--main-color);
        width: fit-content;
        margin: 30px auto;
    }

    .pricing .contact-text{
        text-align: center;
        margin: 50px auto;
        font-size: 20px;


    }
    .pricing .contact-link{
        display: block;
        background-color: var(--main-color);
        width: fit-content;
        margin: 20px auto;
        font-size: 30px;
        color: white;
        padding: 10px 10px ;
        text-decoration: none;
        
    }
    /* end pricing */

    /* start subscribe */
        .subscribe{
            padding-top: 100px;
            padding-bottom: 100px;
            background-size: cover;
            position: relative;
            color: black;
            background-image:url(../image/lan.jpg);
                                }

                .subscribe::before{
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    background-color:rgb(0 0 0 /50%);
                }        
.subscribe .container{
    position: relative;
    display: flex;
    align-items: center;

}
@media (max-width: 991px){
    .subscribe .container{
        flex-direction: column;
    }
}
@media (max-width: 991px){
    .subscribe p{
        margin: 30px 0 0 ;
    }
}
.subscribe form{
   display: flex;
   position: relative;
   width: 500px;
   max-width: 100%;

}
.subscribe form .icon{
    position: absolute;
    left: 25px;
    top: 50%;
    color: #ddd;
    transform: translateY(-50%);

}
.subscribe form input[type="email"]{ 
    border: 1px solid oldlace;
    background: none;
    border-right: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% -130px);

}

.subscribe form input[type="submit"]{
    width: 130px;
    background-color:  var(--main-color);
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left:none ;
    text-transform: uppercase;
}
.subscribe form ::placeholder{
    color: white;
}
.subscribe p{
    line-height: 2;
    margin-left: 50px;
    color: #dedadc;
    font-size: 20px;
  

}
    /* end subscribe */
        /* start content */
        .contact{
            padding-bottom: var(--section-padding);
            /* padding-top: var(--section-padding);      */
        }
        .contact .content{
            display: flex;
            justify-content: space-between;

        }
     .contact     .main-input{
            display: block;
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 30px;
            width: 800px;
            text-align: center;
        }
    
        .contact     .main-inputt{
            text-align: center;
            display: block;
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 30px;
            width: 800px;
            height: 200px;
        }
        .contact .content .sub{
                    background-color:  var(--main-color); 
                    color: white;
                    padding: 20px;
                    border: none;
                    display: flex;
                    margin-left: auto;
                    text-transform: uppercase;
                    cursor: pointer;
        }
        .contact .content .info
        {
            width: 350px;
            margin-left: 50px;

        }
        .contact .content .info h4{
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 30px;
            color: var(--main-color);
        }
        .contact .content .info h4:last-of-type{
            margin-top: 90px;
        }
        .contact .content .info .phone{
            display: block;
            color: var(--main-color);
            margin-bottom: 10px;
            font-size: 25px;

        }
        .contact .content .info address{
            line-height: 1.7;
            color: var(--main-color);
            font-size: 25px;
            margin-top: -10px;
            color: var(--main-color);

        }
        @media (max-width: 767px){
            .contact .content{
                flex-direction: column;
            }
        }
        @media (max-width: 767px){
            .contact .content .info address{
                margin-bottom: 40px;
            }
        }

        /* end content */

        /* start footer */
        .footer{
            padding-bottom: 40px;
            padding-top: 10px;
            background-color: #777;
            position: relative;
            color: white;
            text-align: center;

        }
        /* .footer ::before{
            content: "";
            position: absolute;
            left: 0;
            top: o;
            width: 100%;
            height: 100%;
            /* background-color: rgb(0 0 0 /70%); */

        } */
         
         
         .footer img{
             margin-bottom: 20px;
         } */

        .footer p {
        
            padding: 20px;
            border-bottom: 1px solid white;
            font-size: 25px;
            margin: 20px auto;

        }
        .footer .copy{
            font-size: 40px;
            border-bottom: 1px solid white;
            margin: 20px auto;
            width: fit-content;

        }
       
            
        .ic{
            padding: 10px 15px;
            margin-bottom: 14px;
        }
.coppy{
    font-size: 23px;
    
    line-height: 2;
    color: #fff;

}
.coppy span{
    color: var(--main-color);
    font-size: 35px;
}

        /* end footer */
/* start commponetes */
.main-heading{
text-align: center;
}
.main-heading h2{
font-weight: normal;
position: relative;
font-size: 40px;
margin-bottom: 70px;
text-transform: uppercase;
text-align: center;
padding-top: 100px;
padding-bottom: 40px;
}
.main-heading h2::before{
content: "";
position: absolute;
left: 42%;
bottom: -30px;
transition: translateY(-50%);
background-color: #eee;
width: 190px;
height: 5px;

}
.main-heading h2::after{
content: "";
position: absolute;
left: 49%;
bottom: -38px;
transition: translateY(-50%);
background-color: white;
width: 19px;
height: 15px;
border: 4px solid black;
border-radius: 50px;


}
.main-heading p{
width: 550px;
line-height: 2;
margin: 0 auto   100px;
max-width: 100%;
color: #777;

}
/* end commponetes */